html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

* {
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 0, 0);
}

/* .row{
    margin-top: 90px;
} */

.btn{
    border-radius: 20px;
}

.navbar-brand{
    font-weight: 600;
    font-size: 25px;
}

.nav-link{
    font-size: 20px;
    font-weight: 500;
}

.card-text {
    text-align: initial;
    font-weight: 500;
}

#topContainer {
	min-height: 100%;
	width: 100%;
}

#navBarContainer{
    background-color: #000;
    width: -webkit-fill-available;
    height: 23vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar{
    position: absolute;
    left: 3.88%;
    right: 90.36%;
    top: 10.18%;   
    bottom: 92.43%;
}

.logo img{
    width: 56px;
}

.navBar .group{
    padding: 19px 0px;
    position: absolute;
    left: 750px;
    right: 0px;
    top: 0px;
    bottom: 27px;
}


.d-inline-block {
    display: inline-block!important;
    width: 39px;
    height: 31px;
    margin: 1px;
}

.nav-link img{
    width: 25px;
}

.gridViewItem{
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
}

.gridViewItem img{
    max-width: 200px;
    max-height: 200px;
}

.searchContainer{
    background-color: #007bff;
    padding: 35px 35px;
}

.searchContainer .searchInput{
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 2px;
}

::placeholder {
    color: white;
}

input:focus{
    outline: none;
}

.lodging{
    margin: 1em 9em;
}

.lodging .card{
    border-radius: 1em;
}

.lodging .card-img-top{
    width: 100%;
    height: 35em;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.profile .card{
    margin: 4em auto;
    background-color: transparent;
    padding: 3em;
    border-radius: 1em;
    width: 40em;
}

.profile .logbtn{
    width: 44%;
    font-weight: 500;
}

.profile .txtb{
    width: 50%;
}

.profile .card>hr{
    margin-right: 3em;
    margin-left: 3em;
}

#modifyProfile{
    text-align: center;
    font-weight: 800;
    margin-top: 1em;
}

.logbtn:focus {
  outline: none;
}